/**
* author:       S Griffin | IM : contactme69 | e-mail : stewiekillsloiss@gmail.com
* design:       http://link-to-design
* created:      19/07/2015
*
* comments:         common media-element
* @project class:   media
**/


/* Media
---------------------------------------------------------------------------------- */

@import "variables";
@import "mixins";

/*
cssg

    media                       --selectable --selected
        media__container
            media__image
                [1]
                <img>

                [2]
                <stub>

                [/]

            media__content
                media__header
                    <header-level-3>

                media__text

*/


/* Variables
-------------------------------------------------- */

$media-bg-color: $color-brand-primary-light;
$media-bg-color-hover: lighten($color-brand-primary-light, 25%);

/* /Variables
-------------------------------------------------- */


/* Layout
-------------------------------------------------- */

.media {
    display: flex;

    background: $media-bg-color;
    cursor: pointer;

    &:hover {
        background: $media-bg-color-hover;
        }
    }

/* /Layout
-------------------------------------------------- */


/* Image
-------------------------------------------------- */

.media__image {
    flex: 1 0 25%;
    }

/* /Image
-------------------------------------------------- */


/* Content
-------------------------------------------------- */

.media__content {
    flex: 1 1 auto;
    }

/* /Content
-------------------------------------------------- */


/* Content parts
-------------------------------------------------- */

/* Header */

.media__header {
    margin-bottom: $offset-s;
    }

/* /Header */

/* Text */

.media__text {
    color: $color-text-light;
    }

/* /Text */

/* /Content parts
-------------------------------------------------- */

/* /Media
---------------------------------------------------------------------------------- */
