/* Variables
---------------------------------------------------------------------------------- */

/* Colors
-------------------------------------------------- */

/* Branding */

$color-text: #222;
$color-background: #fff;

$color-brand-primary: #4590ff;
$color-brand-primary-light: #71c0ff;
$color-brand-primary-dark: #2e77ff;

$color-brand-secondary: #ff4f2f;
$color-brand-secondary-light: #ff744e;
$color-brand-secondary-dark: #e2321e;

$color-accent: #71b524;
$color-accent-light: #9cda21;
$color-accent-dark: #4e8f22;

/* /Branding */

/* Shades */

$color-text-light: lighten($color-text, 25%);
$color-text-lighter: lighten($color-text, 50%);
$color-text-lightest: lighten($color-text, 75%);

/* /Shades */

/* Inverse */

$color-text-inverse: #f8f8f8;

/* /Inverse */

/* /Colors
-------------------------------------------------- */


/* Font family
-------------------------------------------------- */

$font-main: "Custom Font";
$font-fallback: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* /Font family
-------------------------------------------------- */


/* Font size
-------------------------------------------------- */

$font-size-s: .6rem;
$font-size-m: .8rem;
$font-size-n: 1rem;
$font-size-l: 1.2rem;
$font-size-xl: 1.6rem;
$font-size-hero: 2.2rem;

/* /Font size
-------------------------------------------------- */


/* Line height
-------------------------------------------------- */

$line-height-tight: 1.2;
$line-height-normal: 1.5;
$line-height-loose: 1.75;

/* /Line height
-------------------------------------------------- */


/* Grid
-------------------------------------------------- */

$grid-step = .25rem;

$gutter = $grid-step * 4;

/* /Grid
-------------------------------------------------- */


/* Offset
-------------------------------------------------- */

$offset-xxs     = $grid-step;
$offset-xs      = 2 * $grid-step;
$offset-s       = 3 * $grid-step;
$offset-n       = 4 * $grid-step;
$offset-l       = 6 * $grid-step;
$offset-xl      = 8 * $grid-step;
$offset-xxl     = 10 * $grid-step;

/* /Offset
-------------------------------------------------- */


/* Border radius
-------------------------------------------------- */

$radius-normal: 3px;
$radius-medium: 8px;

/* /Border radius
-------------------------------------------------- */

/* /Variables
---------------------------------------------------------------------------------- */
