/**
* author:       S Griffin | IM : contactme69 | e-mail : wdybih@gmail.com
* spec:         http://link
* created:      19/07/2015
*
* comments:         buttons
* @project class:	.btn
**/


/* Vars
-------------------------------------------------- */

$rad = 3px;

$ff = arial, helvetica, sans-serif;

$f-s = 12px;
$f-n = 14px;
$f-l = 16px; //todo: remove after redesign

$h-s = 24px;
$h-n = 32px;

$lh-s = $h-s;
$lh-n = $h-n;

/* /Vars
-------------------------------------------------- */


/* Buttons
---------------------------------------------------------------------------------- */

/* Common styles
-------------------------------------------------- */
.btn {
    position: relative;

    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
    min-width: 96px;
    height: $h-n;

    cursor: pointer;
	white-space: nowrap; // IE multiple words bug
    overflow: visible;
    border-radius: $rad;
    border: 0;

    font: 500 $f-n/$lh-n $ff;
    color: #fff;
    outline: none;
    text-align: center;

    a&, span& {
       display: inline-block;
       text-decoration: none;
       }

    input&,
    button& {
        -webkit-appearance: none; // remove OS-native styling
        }

    // small button
    &.__small {
        min-width: 72px;
        height: $h-s;
        padding: 0 16px;

        line-height: $lh-s; // va:m
        font-size: $f-s;
        }

    // full-width button
    &.__wide {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        }
	}
/* /Common styles
-------------------------------------------------- */


/* Regular button
-------------------------------------------------- */
.btn {
    background: #1daa09 url(/res/i/bg/buttons/button-green.png) repeat-x;
    background: #1daa09 linear-gradient(to bottom, #78d81f, #1daa09);

    box-shadow: inset 0 -1px 0 0 #21900D;
    text-shadow: 0 1px 0 #458f11; // FF3.5+, Opera 9+, Saf1+, Chrome. Don't use alpha-transparency for color due bad font rendering in Chrome

    &:hover,
    &:focus {
        background: #70ca1b url(/res/i/bg/buttons/button-green.png) repeat-x 0 100%;
        background: #70ca1b linear-gradient(to bottom, #70ca1b, #169305);

        box-shadow: inset 0 -1px 0 0 #1A7C0B;
        color: #fff; // color duplicated in .panel.css (.panelRounded_footer)
        text-decoration: none;
        }

    &:hover,
    &:active {
        outline: none; // Removing dotted border in links on click for ie and ff
        }

    &:active {
        background: #169305 linear-gradient(to top, #70ca1b, #169305);
        box-shadow: inset 0 1px 0 0 #1A7C0B;
        }
        .ie9 &:active {
            box-shadow: none;
            }
    }

/* Orange modification */
.btn.__orange {
    margin-right: 10px;

    background: #ffbe64 url(/res/i/bg/buttons/button-orange.png) repeat-x;
    background: #ffbe64 linear-gradient(to bottom, #ffbe64 0%,#e67604 100%);

    box-shadow: inset 0 -1px 0 0 #B65C02;
    text-shadow: 0 1px 0 #AB5A1A;

    &:focus,
    &:hover {
        background: #fab75b url(/res/i/bg/buttons/button-orange.png) repeat-x 0 100%;
        background: #fab75b linear-gradient(to bottom, #fab75b 0%, #dd5e05 100%);

        box-shadow: inset 0 -1px 0 0 #B65C02;
        }

    &:active {
        background: #e67604 linear-gradient(to top, #ffbe64 0%, #e67604 100%);
        box-shadow: inset 0 1px 0 0 #B65C02;
        }
    }
/* /Orange modification */

/* /Regular button
-------------------------------------------------- */

/* Secondary button
-------------------------------------------------- */
.btn.__sec {
    line-height: $lh-n - 2; // -2 because of borders
    border: 1px solid #ddd;
    color: #666;
    background: transparent;

    box-shadow: none;
    text-shadow: none;

    &:hover {
        color: #333;
        border-color: #999;
        }

    &:active {
        background-color: #f0f0f0;
        }

    &:hover,
    &:active {
        outline: none;
        }

    // small button
    &.__small {
        line-height: $lh-s - 2; // -2 because of borders
        }

    // inverted color button
    &.__invert {
        border: 1px solid #ddd;
        color: #fff;

        &:hover {
            border-color: #fff;
            background-color: rgba(255,255,255,0.1);
            }

        &:active {
            border-color: #fff;
            background-color: rgba(255,255,255,0.2);
            }
        }
    }
/* /Secondary button
-------------------------------------------------- */

/* /Buttons
---------------------------------------------------------------------------------- */
