/**
* author:       S Griffin | IM : contactme69 | e-mail : stewiekillsloiss@gmail.com
* design:       http://link-to-design
* created:      19/07/2015
*
* comments:         common media-element
* @project class:   media
**/


/* Media
---------------------------------------------------------------------------------- */

/*  ---cssg

    media                       __selectable __selected
        media_hld
            media_img
                [1]
                img

                [2]
                <stub>

                [/]

            media_cnt
                media_h
                media_tx
                [media_lk]

*/

/* Vars
-------------------------------------------------- */



/* /Vars */


/* Layout
-------------------------------------------------- */



/* /Layout */


/* Image
-------------------------------------------------- */



/* /Image */


/* Content
-------------------------------------------------- */



/* /Content */

/* /Media
---------------------------------------------------------------------------------- */