/**
* author:       S Griffin | IM : contactme69 | e-mail : stewiekillsloiss@gmail.com
* created:      19/07/2015
*
* comments:         common variables
**/


/* Vars
-------------------------------------------------- */

/* Font-family */
$ff-main = Arial, Helvetica, sans-serif;
$ff-aux = Georgia, Times, serif;


/* Font-size */
$fs-normal = 14px;

$fs-xs = 10px;
$fs-s = 12px;
$fs-l = 16px;

$fs-h1 = 32px;
$fs-h2 = 24px;
$fs-h3 = 20px;

$fs-hero = 48px;


/* Colors */
$c-base = #333;
$c-white = #fff;
$c-darker = #666;
$c-dark = #999;
$c-light = #ccc;
$c-lighter = #eee;

// credits: https://www.materialpalette.com/
$c-brand-main = #E64A19;
$c-brand-aux = #FF5722;
$c-brand-alt = #FFCCBC;
$c-accent = #4CAF50;


/* Line-height */
$lh-normal = 1.5;
$lh-head = 1.25;
$lh-reset = 1;


/* Cards */
$card-normal = 64px;

$card-xxs = 24px;
$card-xs = 32px;
$card-s = 48px;
$card-l = 92px;
$card-xl = 128px;
$card-xxl = 176px;


/* Offset */
$offset-step = 4px;

$offset = $offset-step;
$offset-2 = $offset-step * 2;
$offset-3 = $offset-step * 3;
$offset-4 = $offset-step * 4;
$offset-5 = $offset-step * 5;
$offset-6 = $offset-step * 6;
$offset-7 = $offset-step * 7;
$offset-8 = $offset-step * 8;


/* Border-radius */
$rad-btn = 3px;
$rad-card = 8px;

/* /Vars
-------------------------------------------------- */